html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'LAto', sans-serif;
    background-image: url(../images/landscape-3.jpg);
    background-position: center;

}

.container {
    flex-basis: 700px;
    margin: 20px;
    padding: 40px;
    background: white;
    color: black;
    border-radius: 20px;
}